In [1]:
import pandas as pd
class PAU():
    df = pd.read_csv('sis.csv')
    mini = 0
    maxi = 0
    mat = []
    name = []
    age = []
    grade = []
    def __init__(self):
        for i in range(len(self.df.Age)):
            if self.mini < self.df.Age[i] < self.maxi:
                self.mat.append(self.df.MatNo[i])
                self.name.append(self.df.Name[i])
                self.age.append(self.df.Age[i])
                self.grade.append(self.df.Grade[i])
        self.stuff = pd.DataFrame({"MatNo": self.mat, "Name": self.name, "Age": self.age, "Grade": self.grade})
    def show(self):
        self.stuff.to_csv(self.nom)
        return(self.stuff)
        
class The_Pirates(PAU):
    mini = 14
    nom = "The_Pirates.csv"
    maxi = 18
    def __init__(self):
        PAU.__init__(self)
        
class The_Yankees(PAU):
    mini = 18
    maxi = 22
    nom = "The_Yankees.csv"
    def __init__(self):
        PAU.__init__(self)
    
class The_Bulls(PAU):
    mini = 22
    maxi = 100000
    nom = "The_Bulls.csv"
    def __init__(self):
        PAU.__init__(self)
        
pi = The_Pirates()
pi.show()

   MatNo               Name  Age  Grade
0   1810       Aina Adeleke   16     80
1   1812    Callistus Okeke   17     40
2   1815    Stella Olohimen   17     44
3   1820  Wilfred Nwachukwu   16     45
4   1821      Mildred James   15     70